.root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E8FE;
  background-repeat: no-repeat;
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation4.MuiCard-root.css-xgyijh-MuiPaper-root-MuiCard-root:hover {
      box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 30%);;
  }
  div{
    border-radius: 15px;
    div{
      text-align: center;
      font-weight: bold;
      font-family: 'Red Hat Display';
      div.price{
        width: 90%;
        margin: 15px auto;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: hsl(224, 65%, 97%);
        flex-direction: row;
        padding: 10px;
        div{
          height: 50px;
          width: 50px;
        }
        div:nth-child(2){
          flex-grow: 4;
          text-align: left;
          margin-left: 20px;
        }
        div+p{
          margin-right: 10px;
          text-decoration: underline;
          color: hsl(245, 75%, 52%);
          font-weight: bold;
          cursor: pointer;
        }
      }
      button{
        width: 95%;
        height: 45px;
        font-weight: bold;
        border-radius: 10px;
        background-color: #3829e0;

        // box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
      }
      button:hover{
        background-color: #2f22b9;
      }
      button+p{
        font-size: 16px;
        font-family: 'Red Hat Display';
        margin: 10px;
        color: #858585;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}